# Node dependencies
node_modules

# Build artifacts
build
dist

# Logs
npm-debug.log
yarn-error.log

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# IDE/editor stuff
.vscode
.idea

# Env files
.env
.env.*
!.env.production

# Docs
README.md
LICENSE