videos/ 
secrets/ 
weights/ 
.env 
.gitignore
.git
__pycache__/
*.pyc
venv/
*.log
*.mp4
**/__pycache__
**/*.pyc
**/.git
**/tests
**/test_data
**/videos
**/weights
**/credentials
**/.vscode
**/*.log
**/temp
**/*.pt
**/*.pth
**/notebooks
**/*.ipynb
**/docs
**/venv
**/node_modules
**/dist
**/build
**/*.egg-info
**/requirements1.txt
**/requirements.txt
**/requirements.txt