.accident-log-container {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.accident-log-table {
  width: 100%;
  border-collapse: collapse;
}

.accident-log-table th,
.accident-log-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.accident-log-table th {
  background-color: #f4f4f4;
}

.active {
  background-color: transparent;
  animation: flicker 0.8s infinite alternate;
}

/* Flickering Effect */
@keyframes flicker {
  0% {
    background-color: rgba(255, 0, 0, 1); /* Bright Red */
  }
  25% {
    background-color: rgba(255, 0, 0, 0.7); /* Faded Red */
  }
  50% {
    background-color: rgba(255, 0, 0, 0.3); /* Faded Red */
  }
  75% {
    background-color: rgba(255, 0, 0, 0.7); /* Faded Red */
  }
  100% {
    background-color: rgba(255, 0, 0, 1); /* Bright Red */
  }
}


.assign {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
}

.assign:hover {
  background-color: #555555;
}




.mark-as-handled {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.mark-as-handled:hover {
  background-color: #ff0000;
}


.highlighted {
  background-color: rgba(0, 123, 255, 0.1);
}

.accident-log-table tr {
  cursor: pointer;
}

.accident-log-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
